# URI for mongodb. in this case its docker compose uri
MONGODB_URI=mongodb://mongo/dashboarD

# URI for nats. in this case its docker compose uri
NATS_URI=nats://nats:4222

# The urls for grpc clients
AUTH_GRPC_URL=auth:5001
CHANNEL_GRPC_URL=channel:5001
ACCOUNT_GRPC_URL=account:5001
AGENT_GRPC_URL=agent:5001
